In [72]:
# load model 
# import joblib
# ada_model = joblib.load('ada_model.pkl')
# scaler = joblib.load('scaler.pkl')

In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [74]:
pd.set_option('display.max_columns', None)

In [75]:
df = pd.read_csv('kuisioner.csv')
dfc = df.copy()
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 29 columns):
 #   Column                                                                                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                                                                                   --------------  -----
 0   Timestamp                                                                                                                                                                                229 non-null    object
 1   Nama Lengkap                                                                                                                                                                             229 non-null    object
 2   Jenis Kelamin                                                                                                                                                                            229 non-null    object
 3   Angkatan                                                                                                                                                                                 229 non-null    int64
 4   NIM                                                                                                                                                                                      229 non-null    object
 5   Usia                                                                                                                                                                                     229 non-null    object
 6   Berapa Tinggi Badan Anda?                                                                                                                                                                203 non-null    object
 7   Berapa Berat Badan Anda?                                                                                                                                                                 199 non-null    object
 8   Seberapa sering Anda lebih memilih menghabiskan waktu di Internet dibandingkan dengan teman, keluarga, atau sosial lainnya?                                                              229 non-null    int64
 9   Seberapa sering Anda menjalin hubungan baru (teman) dengan sesama pengguna online?                                                                                                       229 non-null    int64
 10  Seberapa sering Anda merasa sibuk memikirkan internet saat sedang offline, atau membayangkan kapan akan online lagi                                                                      229 non-null    int64
 11  Seberapa sering Anda berkata pada diri sendiri, "hanya beberapa menit lagi," saat sedang online?                                                                                         229 non-null    int64
 12  Seberapa sering Anda online lebih lama dari yang Anda niatkan?                                                                                                                           229 non-null    int64
 13  Seberapa sering Anda mencoba mengurangi jumlah waktu yang Anda habiskan online namun gagal?                                                                                              229 non-null    int64
 14  Seberapa sering Anda memeriksa email atau pesan sebelum melakukan hal lain yang perlu Anda lakukan?                                                                                      229 non-null    int64
 15  Seberapa sering Anda mengabaikan pekerjaan di rumah untuk menghabiskan lebih banyak waktu online?                                                                                        229 non-null    int64
 16  Seberapa sering kinerja atau produktivitas pekerjaan Anda menurun karena internet?                                                                                                       229 non-null    int64
 17  Seberapa sering nilai atau hasil studi Anda menurun karena jumlah waktu yang Anda habiskan online?                                                                                       229 non-null    int64
 18  Seberapa sering Anda lebih memilih untuk menghabiskan waktu online daripada pergi keluar dengan orang lain?                                                                              229 non-null    int64
 19  Seberapa sering Anda menantikan waktu berikutnya untuk bisa online?                                                                                                                      229 non-null    int64
 20  Seberapa sering Anda takut hidup tanpa internet akan terasa membosankan, hampa, dan tidak menyenangkan?                                                                                  229 non-null    int64
 21  Seberapa sering Anda membentak, berteriak, atau bertindak jengkel jika seseorang mengganggu Anda saat sedang online?                                                                     229 non-null    int64
 22  Seberapa sering Anda kurang tidur karena sesi online hingga larut malam?                                                                                                                 229 non-null    int64
 23  Seberapa sering Anda merasa depresi, murung, atau gugup saat sedang offline, yang kemudian hilang begitu Anda kembali online?                                                            229 non-null    int64
 24  Seberapa sering orang lain dalam hidup Anda mengeluh tentang jumlah waktu yang Anda habiskan online?                                                                                     229 non-null    int64
 25  Seberapa sering Anda mencoba menyembunyikan berapa lama Anda telah online?                                                                                                               229 non-null    int64
 26  Seberapa sering Anda menggunakan internet sebagai cara untuk lari dari masalah atau untuk meredakan perasaan tidak nyaman (misalnya, perasaan tidak berdaya, bersalah, cemas, depresi)?  229 non-null    int64
 27  Seberapa sering Anda membahayakan atau mempertaruhkan hilangnya hubungan penting, pekerjaan, atau kesempatan pendidikan/karier karena internet?                                          229 non-null    int64
 28  Berapa lama rata-rata Anda menggunakan internet dalam satu hari?                                                                                                                         229 non-null    int64
dtypes: int64(22), object(7)
memory usage: 52.0+ KB

In [76]:
iat_col = ["IAT-IAT_03","IAT-IAT_04","IAT-IAT_15","IAT-IAT_01","IAT-IAT_13","IAT-IAT_11","IAT-IAT_07",
           "IAT-IAT_02","IAT-IAT_18","IAT-IAT_06","IAT-IAT_19","IAT-IAT_17","IAT-IAT_14","IAT-IAT_16","IAT-IAT_12",
           "IAT-IAT_20","IAT-IAT_05","IAT-IAT_09","IAT-IAT_08","IAT-IAT_10"]
mapping_name = {
    'Jenis Kelamin': 'Basic_Demos-Sex',
    'Usia': 'Basic_Demos-Age'
}
dfc.rename(columns=mapping_name, inplace=True)
dfc.rename(columns=dict(zip(dfc.iloc[:,8:28].columns, iat_col)), inplace=True)
dfc.rename(columns={dfc.columns[-1]:'PreInt_EduHx-computerinternet_hoursday'}, inplace=True)

In [77]:
dfc['Berapa Tinggi Badan Anda?'] = dfc['Berapa Tinggi Badan Anda?'].str.extract(r'(\d+)').astype(float)
dfc['Berapa Berat Badan Anda?'] = dfc['Berapa Berat Badan Anda?'].str.extract(r'(\d+)').astype(float)

In [78]:
# Fill missing height values by gender
height_median_male = dfc.loc[dfc['Basic_Demos-Sex'] == 'Laki-laki', 'Berapa Tinggi Badan Anda?'].median()
height_median_female = dfc.loc[dfc['Basic_Demos-Sex'] == 'Perempuan', 'Berapa Tinggi Badan Anda?'].median()

dfc.loc[dfc['Basic_Demos-Sex'] == 'Laki-laki', 'Berapa Tinggi Badan Anda?'] = dfc.loc[dfc['Basic_Demos-Sex'] == 'Laki-laki', 'Berapa Tinggi Badan Anda?'].fillna(height_median_male)
dfc.loc[dfc['Basic_Demos-Sex'] == 'Perempuan', 'Berapa Tinggi Badan Anda?'] = dfc.loc[dfc['Basic_Demos-Sex'] == 'Perempuan', 'Berapa Tinggi Badan Anda?'].fillna(height_median_female)

# Fill missing weight values by gender
weight_median_male = dfc.loc[dfc['Basic_Demos-Sex'] == 'Laki-laki', 'Berapa Berat Badan Anda?'].median()
weight_median_female = dfc.loc[dfc['Basic_Demos-Sex'] == 'Perempuan', 'Berapa Berat Badan Anda?'].median()

dfc.loc[dfc['Basic_Demos-Sex'] == 'Perempuan', 'Berapa Berat Badan Anda?'] = dfc.loc[dfc['Basic_Demos-Sex'] == 'Perempuan', 'Berapa Berat Badan Anda?'].fillna(weight_median_female)
dfc.loc[dfc['Basic_Demos-Sex'] == 'Laki-laki', 'Berapa Berat Badan Anda?'] = dfc.loc[dfc['Basic_Demos-Sex'] == 'Laki-laki', 'Berapa Berat Badan Anda?'].fillna(weight_median_male)

In [79]:
dfc['Physical-BMI'] = dfc['Berapa Berat Badan Anda?'] / ((dfc['Berapa Tinggi Badan Anda?']/100) ** 2)
dfc['IAT-IAT_Total'] = dfc[iat_col].sum(axis=1)
dfc['Basic_Demos-Sex'] = dfc['Basic_Demos-Sex'].map({'Laki-laki': 0, 'Perempuan': 1})

In [80]:
col_to_drop = ['Timestamp', 'Nama Lengkap','Angkatan', 'NIM']
dfc.drop(columns=col_to_drop, inplace=True)
dfc.drop(['Berapa Tinggi Badan Anda?','Berapa Berat Badan Anda?'], axis=1, inplace=True)

In [81]:
index_col = ['Basic_Demos-Age', 'Basic_Demos-Sex', 'Physical-BMI', 'IAT-IAT_01','IAT-IAT_02','IAT-IAT_03','IAT-IAT_04','IAT-IAT_05',
             'IAT-IAT_06','IAT-IAT_07','IAT-IAT_08','IAT-IAT_09','IAT-IAT_10','IAT-IAT_11','IAT-IAT_12',
             'IAT-IAT_13','IAT-IAT_14','IAT-IAT_15','IAT-IAT_16','IAT-IAT_17','IAT-IAT_18','IAT-IAT_19',
             'IAT-IAT_20', 'IAT-IAT_Total', 'PreInt_EduHx-computerinternet_hoursday']
dfc = dfc.reindex(columns=index_col)

In [83]:
dfc.head()

,Basic_Demos-Age,Basic_Demos-Sex,Physical-BMI,IAT-IAT_01,IAT-IAT_02,IAT-IAT_03,IAT-IAT_04,IAT-IAT_05,IAT-IAT_06,IAT-IAT_07,IAT-IAT_08,IAT-IAT_09,IAT-IAT_10,IAT-IAT_11,IAT-IAT_12,IAT-IAT_13,IAT-IAT_14,IAT-IAT_15,IAT-IAT_16,IAT-IAT_17,IAT-IAT_18,IAT-IAT_19,IAT-IAT_20,IAT-IAT_Total,PreInt_EduHx-computerinternet_hoursday
0,22,1,20.549887,4,3,3,2,4,5,3,3,2,3,4,4,5,3,4,1,4,4,3,3,67,3
1,20,1,19.382145,4,1,3,2,5,0,4,1,3,0,4,2,4,4,4,0,3,1,5,1,51,3
2,21,0,22.679952,4,4,5,3,3,4,5,3,3,2,5,5,4,2,3,3,3,3,4,3,71,3
3,21,0,25.605536,4,1,3,3,3,1,4,4,3,4,4,3,4,3,4,3,3,1,2,2,59,3
4,22,1,27.040816,3,4,3,2,1,2,2,4,1,1,3,3,4,3,2,1,2,2,2,1,46,3